<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title> Activity 5 </title>
</head>

<body>

    <h4 style="text-align:center"> (Using SVM to Build and Train a Model for Classification) </h4>
    <h1 style="text-align:center; color:blue;">Checking Credit Card Eligibility</h1>

    <form method="POST" action="/predict" style="text-align:center">
    	<label for="age">Age: </label>
        <input type="text" name="age"><br><br>

        <label for="experience">Experience: </label>
        <input type="text" name="experience"><br><br>

        <label for="income">Income: </label>
        <input type="text" name="income"><br><br>

        <label for="family">Family members (1, 2, 3, or 4): </label>
        <input type="text" name="family"><br><br>

        <label for="CCAvg">CCAvg: </label>
        <input type="text" name="CCavg"><br><br>

        <label for="education">Education (1-Undergraduate, 2-Graduate, 3-Advanced/Professional): </label>
        <input type="text" name="education"><br><br>

        <label for="mortgage">Mortgage: </label>
        <input type="text" name="mortgage"><br><br>

        <label for="personal_loan">Personal Loan (0-No, 1-Yes): </label>
        <input type="text" name="personal_loan"><br><br>

        <label for="securities_account">Securities Account (0-No, 1-Yes): </label>
        <input type="text" name="securities_account"><br><br>

        <label for="cd_account">CD Account (0-No, 1-Yes): </label>
        <input type="text" name="cd_account"><br><br>

        <label for="online">Online (0-No, 1-Yes): </label>
        <input type="text" name="online"><br><br>

        <input type="submit" value="PREDICT">
    </form>

   <h2 style="text-align:center; color:red;">
       {{ prediction_result }} </h2>

</body>
</html>